!!!
%html
  %head
    %title Treasure
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "TREASURE", root_path, class: "navbar-brand", id: "logo"
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user)
            %li= link_to "Sign Out", signout_path
          - else
            %li= link_to "Twitter Signin", 'auth/twitter'
            %li= link_to "Sign Up", signup_path
            %li= link_to "Sign In", signin_path

    .container
      - unless notice.nil?
        .alert.alert-success= notice
      = yield
    %footer.page-footer
      .container
        .text-center
          ©
          =link_to "Evan Moore", "http://www.github.com/etmoore"
          2014
